<div class="container">
  <div class="user-details">
  <div 
	style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" 
	unselectable="on"
	onselectstart="return false;" 
	onmousedown="return false;">
	<img alt="me" src="/Galaxy/assets/img/me.jpg" />
    <h3> Introduction (Last Updated: May 2017) </h3>
    <p> I received my B.Sc. in Computer Science & Statistics at the <a href='http://www.ubc.ca/'STYLE="text-decoration: none">University of British Columbia</a> Vancouver in 2017. My interests are in mathematics, statistical modeling, software development, machine learning, computer vision & scientific computing. When I write code I usually do it in Python, R and MATLAB, but historically I’ve used Java (hence, a good basic understanding of C#) and a fair amount of C/C++  and Javascript. Most of what I’ve been doing last few years has been machine learning and back-end development (modeling database and designing RESTful services). In my spare time, I enjoy solving Project Euler problems, hacking on large datasets (terabytes of data), implementing interesting ideas in research papers from scratch and designing (and back-testing) my trading algorithms. </p>
	<h3> Relevant Courses </h3>
	<p> CPSC 540 - Machine Learning (Grad course) <br> CPSC 425/505 - Computer Vision / Image Understanding I: Image Analysis (Grad course) <br> CPSC 410 - Advanced Software Engineering <br> STAT 443 - Time Series and Forecasting <br> STAT 305 - Statistical Inference <br> CPSC 421/501 - Theory of Automata, Formal Languages and Computability (Grad course) <br> CPSC 422 - Intelligent Systems (A.I. 2) <br> STAT 406 - Methods for Statistical Learning <br> MATH 303 - Introduction to Stochastic Processes <br> MATH 307 - Applied Linear Algebra <br> CPSC 319 - Software Engineering Project <p> </p>
  </div>
</div>
